/* 
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
} */

#display {
    width: 50%;
    margin-left: 25%;
    height: 50px;
    margin-top: 130px;
    margin-bottom: 0;
    text-align: right;
    font-size: 1.5em;
    padding: 5px;
    border: 0.5px solid transparent;
    border-radius: 5px;
    color: rgb(255, 242, 242);
    background-color: rgba(0, 0, 0, 0.497);
}
/* 
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
} */

.btn {
    font-size: 1.2em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* background: #007BFF; */
    color: rgb(8, 8, 8);
}
/* 
.btn:hover {
    background: #0056b3;
}

.operator {
    background: #FF6F61;
}

.operator:hover {
    background: #d04e43;
}

#clear {
    background: #FFB74D;
}

#equals {
    background: #66BB6A;
    grid-column: span 4;
}
*{
    margin: 0;
    padding: 0;
} */

body{
    height: 1500px;
    max-width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.border-box{
    border-radius: 20px;
    border:5px solid black;
    height: 500px;
    width: 250px;
    box-shadow: 0 8px 10px rgba(43, 31, 31, 0.8);
    background-image: url("base.jpeg");
    background-size: cover;  
    display: flex;
    flex-direction: column;
}

.black-line{
    margin:auto;
    margin-top:5px;
    background-color: black;
    border: 2px solid black;
    height:5px;
    width: 150px;
    border-radius:50%;
}

.icon-box
{   
    display: flex;
    justify-content: space-between;
    margin: 20px;
    /* margin-top: 10px; */
    height: 260px;
    /* background-color: rgba(0, 0, 255, 0.328); */
    text-align: center;

}

.icon{
    /* margin-top: 40px; */
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.62);
    border-radius: 50%;
    opacity: 0.5;
    font-size: x-large;
    
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center;
    padding-top: -10px; */
    /* margin-bottom: 20px; */
    /* padding: 20px; */
}
/* .bottom-icons{
    height: 4px;
    margin-top: 0px;
    margin-left:45px;
    width: 60%;
    margin-bottom: 0; 
    /* display: flex;
    justify-content: space-around;
    border-radius: 15px; */
    /* background-color: rgba(4, 4, 4, 0.213);
    border-radius: 10px; */

/* }  */
button{
    background:none;
    border: none;    
}
nav{
    width:100%;
}


